<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Todos</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/css/styles", "~/Content/kendoui/css", "~/Content/bootstrap/css/styles", "~/Content/flatty/stylesheets/styles", "~/Content/less")
</head>
<body class="contrast-blue main-nav-closed">
	<header>
		<div class="navbar">
			<div class="navbar-inner">
				<div>
					<a class="toggle-nav btn btn-small pull-left" href="#"><i class="icon-reorder"></i></a>
					<a class="brand" href="/">Example Test</a>
				</div>
			</div>
		</div>
	</header>
	<div id="wrapper">
		<div id="main-nav-bg"></div>
		<nav id="main-nav">
			<div class="navigation">
				<!-- navigation items -->
				<ul class="nav nav-stacked">
					<li class="active">
						<a class="dropdown-collapse" href="#">
							<i class="icon-home"></i>
							<span>Task Management</span>
							<i class="icon-angle-down angle-down"></i>
						</a>
						<ul class="nav nav-stacked">
							<li><a href="/" class="active menuLink"><i class="icon-tasks"></i>View My Todo List</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<section id="content" class="container-fluid">
			@RenderBody()
		</section>
	</div>

	@Scripts.Render("~/bundles/scripts")

	<!-- Scripts that are global. -->
	<script type="text/javascript">
		function showProgress() {
			kendo.ui.progress($('#wrapper'), true);
		}

		function hideProgress() {
			kendo.ui.progress($('#wrapper'), false);
		}

		$(function () {
			$(".menuLink").click(function () {
				hideProgress(); // If spinner is active then hide it.
				if ($(window).width() <= 768) {
					// If there are toggle-nav controls then use them to toggle the menu so that the DOM does not get out of synch with the HTML.
					var toggleNavControls = $(".toggle-nav");
					if (toggleNavControls.length > 0) {
						toggleNavControls[0].click();
					} else {
						$("body").removeClass("main-nav-opened").removeClass("main-nav-closed").addClass("main-nav-closed");
					}
				}
			});
		});
	</script>

	@RenderSection("scripts", required: false)
</body>
</html>
