<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore" version="3.2.0.29" targetFramework="net45" />
  <package id="EventStore.Serialization.Json" version="3.2.0.29" targetFramework="net45" />
  <package id="ExpectedObjects" version="1.0.0.2" targetFramework="net45" />
  <package id="Given" version="0.1.4938.39038" targetFramework="net45" />
  <package id="Given.NUnit" version="0.1.4938.39038" targetFramework="net45" />
  <package id="Moq" version="4.1.1309.1617" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
</packages>